[tool.ruff]
target-version = "py310"

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I", "UP", "C901"]

[tool.zest-releaser]
release = false

[tool.pyright]
# Out-of-the-box vscode support, provided you created .venv as mentioned in the readme.
venvPath = "."
venv = ".venv"
include = "src"
